@import "../../css-config/mixin.scss";


.Content{
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #loader{
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}